<%= form_for @satisfaction do |f| %>

  <% if @satisfaction.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@satisfaction.errors.count, "error") %> prohibited
        this entry from being saved:
      </h2>
      <ul>
        <% @satisfaction.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </p>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </p>

  <p>
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
