<p>
  <strong>Date:</strong>
  <%= @satisfaction.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @satisfaction.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @satisfaction.category %>
</p>

<p>
  <strong>Score:</strong>
  <%= @satisfaction.score %>
</p>

<%= link_to 'Back', satisfactions_path %>
